<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.content.dao.ContentMapper">
  <resultMap id="BaseResultMap" type="com.self.content.domain.entity.Content">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>

  <select id="selectByUserAll" resultType="com.self.content.domain.entity.Content">
    select * from t_content where user_id = #{userId}
  </select>

</mapper>