<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.user.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.self.user.domain.entity.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="wx_id" jdbcType="VARCHAR" property="wxId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>

    <select id="queryUser" resultType="com.self.user.domain.entity.User">
        select * from t_user
        <where>
            <if test="user.name != null and user.name != ''">
                and name like concat('%' , #{user.name} , '%')
            </if>
            <if test="user.phone != null and user.phone != ''">
              and phone like concat('%' , #{user.phone} , '%')
            </if>
        </where>
    </select>
</mapper>